<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<title>Magnolia Measurement & Compression (MMC){{ title }}</title>
		<link rel="icon" type="image/x-icon" href="pictures/logo.png">


		<link rel="stylesheet" href="css/base.css">
    	{% block css_link %}{% endblock %}
	</head>

	<body>
		<header>
			<div class="hamburger" onclick="toggleMenu()">
		        <div class="bar"></div>
		        <div class="bar"></div>
		        <div class="bar"></div>
		    </div>

		    <div class="menu">
		        <a href="index.html" class="link">Home</a>
		        <a href="current_operations.html" class="link">Current Operations</a>
		        <a href="services.html" class="link">Services</a>
		        <a href="equipment.html" class="link">Equipment</a>
                <a href="data_centers.html" class="link">Data Centers</a>
                <a href="environmental_services.html" class="link">Environmental Services</a>
		        <a href="contacts.html" class="link">Contacts</a>
		    </div>


			<a href="index.html">
				<img id="logo" src="pictures/logo.png" alt="logo">
			</a>
			<br/>
			<div id="title">Magnolia Measurement & Compression</div>

			<br/>

		    <script>
		        function toggleMenu() {
		            var menu = document.querySelector('.menu');
		            menu.classList.toggle('show');
		        }
		        window.onclick = function(event) {
		            if (!event.target.matches('.hamburger') && !event.target.matches('.bar')) {
		                var menu = document.querySelector('.menu');
		                if (menu.classList.contains('show')) {
		                    menu.classList.remove('show');
		                }
		            }
		        }
		    </script>
		</header>

		{% block hero %}
		{% endblock %}



		{% block content %}
		{% endblock %}

	

		<footer>
	        <div>
	        	<lu>
	        		<li>
		            	&copy; 2023 Magnolia Measurement & Compression. All rights reserved.
		        	</li>

					<li>
		            	General Contact: <a class="footer-link link" href="mailto:jeffdelancey@ymail.com">jeffdelancey@ymail.com</a>
		            </li>

		            <li>
		            	Website Contact: <a class="footer-link link" href="mailto:shawnbutler.work@gmail.com">shawnbutler.work@gmail.com</a>
		            </li>

	        	</lu>
	        </div>
	    </footer>
	</body>

</html>