{% extends 'base.html' %}


{% block content %}
<style>
	hr {
		text-align: center;
		border: 1px solid gold;
	}
	.link-gold {
	  color: #d4af37;
	  transition: color 0.3s ease;
	  text-decoration: none;
	}

	.link-gold:hover,
	.link-gold:focus {
	  color: gold; /* A lighter gold shade */
	  text-decoration: underline;
	}
	.service-img {
	  width: 100%;
    height: 100%;
	  object-fit: cover;
	  border: 3px solid gold; 
	  border-radius: 8px;      
	  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
	  transition: transform 0.3s ease;
	}

	.service-img:hover {
	  transform: scale(1.05); 
	}
</style>



<!-- Services -->
<div class="container mt-5">

  <!-- Jason Sharp Start -->
  <section id="jason-sharp" class="row align-items-center mb-5">
    <div class="col-md-4">
      <img src="pictures/jason-sharp.jpg" class="img-fluid service-img border rounded shadow" alt="Calibration Service">
    </div>
    <div class="col-md-8">
      <h2>Jason Sharp</h2>
      <strong>President</strong>
      <ul class="list-unstyled">
      	<li><a href="mailto:jason@jsgateway.com" class="link-gold">jason@jsgateway.com</a></li>
        <li><a href="tel:+2708893435" class="link-gold">(270)889-3435</a></li>
      </ul>
    </div>
  </section>
  <hr/><br/>
  <!-- Jason Sharp End -->


  <!-- Jeff Delancey Start -->
  <section id="jeff-delancey" class="row align-items-center mb-5">
    <div class="col-md-4">
      <img src="pictures/jeff-delancey.jpg" class="img-fluid service-img border rounded shadow" alt="Calibration Service">
    </div>
    <div class="col-md-8">
      <h2>Jeff DeLancey</h2>
      <strong>Vice President</strong>
      <ul class="list-unstyled">
      	<li><a href="mailto:jeffdelancey@ymail.com" class="link-gold">jeffdelancey@ymail.com</a></li>
        <li><a href="tel:+6014410900" class="link-gold">(601)441-0900</a></li>
      </ul>
    </div>
  </section>
  <hr/><br/>
  <!-- Jeff Delancey End -->


  <!-- Jeni Butler Start -->
  <section id="jeni-butler" class="row align-items-center mb-5">
    <div class="col-md-4">
      <img src="pictures/jeni-butler.jpg" class="img-fluid service-img border rounded shadow" alt="Calibration Service">
    </div>
    <div class="col-md-8">
      <h2>Jeni Butler</h2>
      <strong>Office Manager</strong>
      <ul class="list-unstyled">
      	<li><a href="mailto:jeni.butler.as@gmail.com" class="link-gold">jeni.butler.as@gmail.com</a></li>
        <li><a href="tel:+6017318205" class="link-gold">(601)731-8205</a></li>
      </ul>
    </div>
  </section>
  <hr/><br/>
  <!-- Jeni Butler End -->


  <!-- Brian Stringer Start -->
  <section id="brian-stringer" class="row align-items-center mb-5">
    <div class="col-md-4">
      <img src="pictures/brian-stringer.jpg" class="img-fluid service-img border rounded shadow" alt="Calibration Service">
    </div>
    <div class="col-md-8">
      <h2>Brian Stringer</h2>
      <strong>Senior Meter Technician</strong>
      <ul class="list-unstyled">
      	<li><a href="mailto:bstringerpsi@gmail.com" class="link-gold">bstringerpsi@gmail.com</a></li>
        <li><a href="tel:+6014412705" class="link-gold">(601)441-2705</a></li>
      </ul>
    </div>
  </section>
  <!-- Brian Stringer End -->
</div>


<br/>
<br/>
{% endblock %}
