{% extends 'base.html' %}

{% block content %}
<style>
    .service-img {
      width: 100%;

      object-fit: cover;
      border: 3px solid gold; 
      border-radius: 8px;      
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
      transition: transform 0.3s ease;
    }

    .service-img:hover {
      transform: scale(1.05); 
    }
</style>


<div class="container mb-5">
    <br/>
    <h1 class="mb-4">
        Waste to Power and Innovation
    </h1>
    <p class="lead">
        <span class="tab"></span>
        Our company leverages unused and undervalued natural gas resources, such as flare and stranded gas, to electrically power advanced technological solutions. Our innovative approach centers around mobile onsite generators capable of accommodating flexible gas qualities and sizes, ranging from 250 kW to 5 MW. This allows us to provide scalable and sustainable energy solutions tailored to each site. By addressing such challenges, we have carved a new and environmentally conscious path for turning waste into opportunity.<br/>
    </p><br/>
    


    <img class="img-fluid service-img border rounded shadow" src="pictures/data_center_live.jpg">
    <br/><br/>
    <img class="img-fluid service-img border rounded shadow" src="pictures/flare_gas.jpg">
    <br/><br/>

    <p class="lead">
        <span class="tab"></span>
        With a "build-to-fit" design philosophy, we ensure that each solution is customized to meet the site's and application's unique requirements. Our strategies have built-in flexibility and cutting-edge technology to deliver reliable power and computation where our clients need them most. To push this approach to its limit, we equip our data centers with internet connectivity and advanced computing to support high-demand endpoints, such as artificial intelligence processing and cryptocurrency mining.
    </p>
    





   
    <br/>
    <br/>
</div>
{% endblock %}