{% extends 'base.html' %}



{% block content %}
<style>
	hr {
		text-align: center;
		border: 1px solid gold;
	}
	.link-gold {
	  color: #d4af37;
	  transition: color 0.3s ease;
	  text-decoration: none;
	}

	.link-gold:hover,
	.link-gold:focus {
	  color: gold; /* A lighter gold shade */
	  text-decoration: underline;
	}
	.service-img {
	  width: 100%;
	  max-height: 200px;
	  object-fit: cover;
	  border: 3px solid gold; 
	  border-radius: 8px;      
	  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
	  transition: transform 0.3s ease;
	}

	.service-img:hover {
	  transform: scale(1.05); 
	}
</style>


<div class="content-block">
<!-- spacing -->
<br/>


<!-- Services -->
<div class="container my-5">

  <!-- Calibration Start -->
  <div class="row align-items-center mb-5">
    <div class="col-md-4">
      <img src="pictures/calibration-service.jpg" class="img-fluid service-img border rounded shadow" alt="Calibration Service">
    </div>
    <div class="col-md-8">
      <h2>Calibration</h2>
      <strong>Contact us for an updated price.</strong>
      <ul class="list-unstyled">
        <li><a class="link-gold" href="contacts.html#jeff-delancey">Jeff Delancey</a></li>
        <li><a class="link-gold" href="contacts.html#brian-stringer">Brian Stringer</a></li>
      </ul>
    </div>
  </div>
  <hr/><br/>
  <!-- Calibration End -->


  <!-- Communication Start -->
  <div class="row align-items-center mb-5">
    <div class="col-md-4">
      <img src="pictures/well.jpg" class="img-fluid service-img border rounded shadow" alt="Calibration Service">
    </div>
    <div class="col-md-8">
      <h2>Communication</h2>
      <strong>Contact us for an updated price.</strong>
      <ul class="list-unstyled">
        <li><a class="link-gold" href="contacts.html#jeff-delancey">Jeff Delancey</a></li>
        <li><a class="link-gold" href="contacts.html#brian-stringer">Brian Stringer</a></li>
      </ul>
    </div>
  </div>
  <hr/><br/>
  <!-- Communication End -->


  <!-- Reports & Downloads Start -->
  <div class="row align-items-center mb-5">
    <div class="col-md-4">
      <img src="pictures/logo.png" class="img-fluid service-img border rounded shadow" alt="Calibration Service">
    </div>
    <div class="col-md-8">
      <h2>Reports & Downloads</h2>
      <strong>Contact us for an updated price.</strong>
      <ul class="list-unstyled">
        <li><a class="link-gold" href="contacts.html#jeff-delancey">Jeff Delancey</a></li>
        <li><a class="link-gold" href="contacts.html#brian-stringer">Brian Stringer</a></li>
      </ul>
    </div>
  </div>
  <hr/><br/>
  <!-- Reports & Downloads End -->


  <!-- Gas Collection for Analysis Start -->
  <div class="row align-items-center mb-5">
    <div class="col-md-4">
      <img src="pictures/gas-collection-service.jpg" class="img-fluid service-img border rounded shadow" alt="Calibration Service">
    </div>
    <div class="col-md-8">
      <h2>Gas Collection for Analysis</h2>
      <strong>Contact us for an updated price.</strong>
      <ul class="list-unstyled">
        <li><a class="link-gold" href="contacts.html#jeff-delancey">Jeff Delancey</a></li>
        <li><a class="link-gold" href="contacts.html#brian-stringer">Brian Stringer</a></li>
      </ul>
    </div>
  </div>
  <hr/><br/>
  <!-- Gas Collection for Analysis End -->


  <!-- NORM Survey Start -->
  <div class="row align-items-center mb-5">
    <div class="col-md-4">
      <img src="pictures/logo.png" class="img-fluid service-img border rounded shadow" alt="Calibration Service">
    </div>
    <div class="col-md-8">
      <h2>NORM Survey</h2>
      <strong>Contact us for an updated price.</strong>
      <ul class="list-unstyled">
        <li><a class="link-gold" href="contacts.html#jeff-delancey">Jeff Delancey</a></li>
        <li><a class="link-gold" href="contacts.html#brian-stringer">Brian Stringer</a></li>
      </ul>
    </div>
  </div>
  <hr/><br/>
  <!-- NORM Survey End -->


  <!-- Compressor Rental Start -->
  <div class="row align-items-center mb-5">
    <div class="col-md-4">
      <img src="pictures/rental-service.jpg" class="img-fluid service-img border rounded shadow" alt="Calibration Service">
    </div>
    <div class="col-md-8">
      <h2>Compressor Rental</h2>
      <strong>Contact us for an updated price.</strong>
      <ul class="list-unstyled">
        <li><a class="link-gold" href="contacts.html#jeff-delancey">Jeff DeLancey</a></li>
        <li><a class="link-gold" href="contacts.html#jason-sharp">Jason Sharp</a></li>
      </ul>
    </div>
  </div>
  <hr/><br/>
  <!-- Compressor Rental End -->


  <!-- Compressor Fabrication Start -->
  <div class="row align-items-center mb-5">
    <div class="col-md-4">
      <img src="pictures/fabrication-service.jpg" class="img-fluid service-img border rounded shadow" alt="Calibration Service">
    </div>
    <div class="col-md-8">
      <h2>Compressor Fabrication</h2>
      <strong>Contact us for an updated price.</strong>
      <ul class="list-unstyled">
        <li><a class="link-gold" href="contacts.html#jeff-delancey">Jeff DeLancey</a></li>
        <li><a class="link-gold" href="contacts.html#jason-sharp">Jason Sharp</a></li>
      </ul>
    </div>
  </div>
  <hr/><br/>
  <!-- Compressor Fabrication End -->

  <!-- Water Hauling Start -->
  <div class="row align-items-center mb-5">
    <div class="col-md-4">
      <img src="pictures/logo.png" class="img-fluid service-img border rounded shadow" alt="Calibration Service">
    </div>
    <div class="col-md-8">
      <h2>Water Hauling</h2>
      <strong>Contact us for an updated price.</strong>
      <ul class="list-unstyled">
        <li><a class="link-gold" href="contacts.html#jeff-delancey">Jeff DeLancey</a></li>
      </ul>
    </div>
  </div>
  <hr/><br/>
  <!-- Water Hauling End -->

  <!-- Roustabout Crew Start -->
  <div class="row align-items-center mb-5">
    <div class="col-md-4">
      <img src="pictures/logo.png" class="img-fluid service-img border rounded shadow" alt="Calibration Service">
    </div>
    <div class="col-md-8">
      <h2>Roustabout Crew</h2>
      <strong>Contact us for an updated price.</strong>
      <ul class="list-unstyled">
        <li><a class="link-gold" href="contacts.html#jeff-delancey">Jeff DeLancey</a></li>
      </ul>
    </div>
  </div>
  <hr/><br/>
  <!-- Roustabout Crew End -->
</div>


<br/>
</div>
{% endblock %}