{% extends 'base.html' %}

{% block css_link %}
<link rel="stylesheet" href="css/services.css">
{% endblock %}


{% block hero %}
<div class="phrase">
	<span style="margin:1%"></span>Quality Service.<br/>
	<span style="margin:1%"></span>Quality People.
</div>
{% endblock %}

{% block content %}
<div class="content-block">
<!-- spacing -->
<br/>


<!-- Services -->
<ul style="list-style: none;">
	<li style="display: inline-block;">
		<img src="pictures/calibration-service.jpg" class="picture"/>
	</li>
	<li style="display: inline-block;">
    	<div class="contact">
	        <h1 class="contact">
	        	Calibration
	        </h1>
			<strong>
    			Contact us for an updated price.
    		</strong>
    		<ul>
    			<li>
	        		<a class="link" href="contacts.html#brian-stringer">Brian Stringer</a>
    			</li>
    			<li>
    				<a class="link" href="contacts.html#jeni-butler">Jeni Butler</a>
    			</li>
    		</ul>
    		
    		
    		<br/>
    		<br/>
    		<br/>


    	</div>
	</li>


	<br/><br/><br/><hr/><br/><br/><br/>


	<li style="display: inline-block;">
		<img src="pictures/well.jpg" class="picture"/>
	</li>
	<li style="display: inline-block;">
    	<div class="contact">
	        <h1 class="contact">
	        	Communication
	        </h1>
    		
    		<strong>
    			Contact us for an updated price.
    		</strong>
    		<ul>
    			<li>
	        		<a class="link" href="contacts.html#brian-stringer">Brian Stringer</a>
    			</li>
    			<li>
    				<a class="link" href="contacts.html#jeni-butler">Jeni Butler</a>
    			</li>
    		</ul>
    		
    		<br/>
    		<br/>
    		<br/>


    	</div>
	</li>


	<br/>
	<br/>
	<br/>
	<hr/>
	<br/>
	<br/>
	<br/>


	<li style="display: inline-block;">
		<img src="pictures/logo.png" class="picture"/>
	</li>
	<li style="display: inline-block;">
    	<div class="contact">
	        <h1 class="contact">
	        	Reports & Downloads
	        </h1>
	    
	    	<strong>
    			Contact us for an updated price.
    		</strong>
    		<ul>
    			<li>
	        		<a class="link" href="contacts.html#brian-stringer">Brian Stringer</a>
    			</li>
    			<li>
    				<a class="link" href="contacts.html#jeni-butler">Jeni Butler</a>
    			</li>
    		</ul>
    		
    		<br/>
    		<br/>
    		<br/>

    	</div>
	</li>





	<br/>
	<br/>
	<br/>
	<hr/>
	<br/>
	<br/>
	<br/>


	<li style="display: inline-block;">
		<img src="pictures/gas-collection-service.jpg" class="picture"/>
	</li>
	<li style="display: inline-block;">
    	<div class="contact">
	        <h1 class="contact">
	        	Gas Collection for Analysis
	        </h1>
	    
	    	<strong>
    			Contact us for an updated price.
    		</strong>
    		<ul>
    			<li>
	        		<a class="link" href="contacts.html#brian-stringer">Brian Stringer</a>
    			</li>
    			<li>
    				<a class="link" href="contacts.html#jeni-butler">Jeni Butler</a>
    			</li>
    		</ul>

    		
    		<br/>
    		<br/>
    		<br/>

    	</div>
	</li>



	<br/>
	<br/>
	<br/>
	<hr/>
	<br/>
	<br/>
	<br/>



	<li style="display: inline-block;">
		<img src="pictures/logo.png" class="picture"/>
	</li>
	<li style="display: inline-block;">
    	<div class="contact">
	        <h1 class="contact">
	        	NORM Survey
	        </h1>
	    
	    	<strong>
    			Contact us for an updated price.
    		</strong>
    		<ul>
    			<li>
	        		<a class="link" href="contacts.html#brian-stringer">Brian Stringer</a>
    			</li>
    			<li>
    				<a class="link" href="contacts.html#jeni-butler">Jeni Butler</a>
    			</li>
    		</ul>

    		
    		<br/>
    		<br/>
    		<br/>

    	</div>
	</li>



	<br/>
	<br/>
	<br/>
	<hr/>
	<br/>
	<br/>
	<br/>


	<li style="display: inline-block;">
		<img src="pictures/rental-service.jpg" class="picture"/>
	</li>
	<li style="display: inline-block;">
    	<div class="contact">
	        <h1 class="contact">
	        	Compressor Rental
	        </h1>
	    
	    	<strong>
    			Contact us for an updated price.
    		</strong>
    		<ul>
			<li>
    				<a class="link" href="contacts.html#jason-sharp">Jason Sharp</a>
    			</li>
			<li>
    				<a class="link" href="contacts.html#jeff-delancey">Jeff Delancey</a>
    			</li>
    			<li>
	        		<a class="link" href="contacts.html#brian-stringer">Brian Stringer</a>
    			</li>
    		</ul>
    		
    		<br/>
    		<br/>
    		<br/>

    	</div>
	</li>



	<br/>
	<br/>
	<br/>
	<hr/>
	<br/>
	<br/>
	<br/>


	<li style="display: inline-block;">
		<img src="pictures/fabrication-service.jpg" class="picture"/>
	</li>
	<li style="display: inline-block;">
    	<div class="contact">
	        <h1 class="contact">
	        	Compressor Fabrication
	        </h1>
	    
	    	<strong>
    			Contact us for an updated price.
    		</strong>
    		<ul>
    			<li>
    				<a class="link" href="contacts.html#jason-sharp">Jason Sharp</a>
    			</li>
			<li>
    				<a class="link" href="contacts.html#jeff-delancey">Jeff Delancey</a>
    			</li>
    			<li>
	        		<a class="link" href="contacts.html#brian-stringer">Brian Stringer</a>
    			</li>
    		</ul>
    		
    		<br/>
    		<br/>
    		<br/>

    	</div>
	</li>



	<br/>
	<br/>
	<br/>
	<hr/>
	<br/>
	<br/>
	<br/>


	<li style="display: inline-block;">
		<img src="pictures/logo.png" class="picture"/>
	</li>
	<li style="display: inline-block;">
    	<div class="contact">
	        <h1 class="contact">
	        	Water Hauling
	        </h1>
	    
	    	<strong>
    			Contact us for an updated price.
    		</strong>
    		<ul>
    			<li>
    				<a class="link" href="contacts.html#jason-sharp">Jason Sharp</a>
    			</li>
			<li>
    				<a class="link" href="contacts.html#jeff-delancey">Jeff Delancey</a>
    			</li>
    			<li>
	        		<a class="link" href="contacts.html#brian-stringer">Brian Stringer</a>
    			</li>
    		</ul>
    		
    		<br/>
    		<br/>
    		<br/>

    	</div>
	</li>



	<br/>
	<br/>
	<br/>
	<hr/>
	<br/>
	<br/>
	<br/>


	<li style="display: inline-block;">
		<img src="pictures/logo.png" class="picture"/>
	</li>
	<li style="display: inline-block;">
    	<div class="contact">
	        <h1 class="contact">
	        	Roustabout Crews
	        </h1>
	    
	    	<strong>
    			Contact us for an updated price.
    		</strong>
    		<ul>
			<li>
    			<a class="link" href="contacts.html#jeff-delancey">Jeff Delancey</a>
    		</li>
    		<li>
	        	<a class="link" href="contacts.html#jeni-butler">Jeni Butler</a>
    		</li>
    		</ul>
    		
    		<br/>
    		<br/>
    		<br/>

    	</div>
	</li>
</ul>

<br/>
</div>
{% endblock %}